{% extends 'gradebook/site_base.html' %}

{# ########################################### #}

{% block page_title %}{% endblock %}

{# ########################################### #}

{# ########################################### #}

{% block page_right_sidebar %}

{% block gradebook_extra_info %}
{% endblock %}

{{ block.super }}
{% endblock %}

{# ########################################### #}

{% block navigation_extras %}
{{ block.super }}
{% block gradebook_navigation_extra %}{% endblock gradebook_navigation_extra %}
{% endblock navigation_extras %}

{# ########################################### #}

{% block breadcrumbs %}
    {{ block.super }}
    {% block app_breadcrumbs %}
        <span class="divider">&gt;</span>
        {% include './includes/app_breadcrumbs.html' %}
        {% block page_breadcrumbs %}
        {% endblock %}
    {% endblock app_breadcrumbs %}
{% endblock %}

{# ########################################### #}
