{% extends 'gradebook/upload_form.html' %}

{# ########################################### #}

{% block page_title %}Upload bubblesheet responses{% endblock %}
{% block content_title %}Upload bubblesheet responses{% endblock %}

{# ########################################### #}

{% block page_breadcrumbs %}
    {{ block.super }}
    {% url BubblesheetUploadForm.url_name viewport=selected_viewport.slug as page_url %}
    {% if page_url and current_role in BubblesheetUploadForm.role_restrictions %}
        <span class="divider">&gt;</span>
        {% if page_url != request.path %}
            <a href="{{ page_url }}">Upload bubblesheet</a>
        {% else %}
            Upload bubblesheet
        {% endif %}
    {% endif %}
{% endblock %}

{# ########################################### #}
