{% extends './studentscore_editlist.html' %}

{# ########################################### #}

{% block content_breadcrumbs %}
<ul class="pagenav">
    <li>
        <a href="{% url ViewportLanding.url_name viewport=selected_viewport.slug %}">
            &laquo; {{ selected_viewport }}
        </a>
    </li>
    {% if current_role in StudentSearchFormView.role_restrictions %}
        <li>
            <a href="{% url StudentSearchFormView.url_name viewport=selected_viewport.slug %}">
                student search
            </a>
        </li>
    {% endif %}
    {% if current_role in StudentSearchScoreList.role_restrictions and current_role != 'student' %}
        <li>
            <a href="{% url StudentSearchScoreList.url_name viewport=selected_viewport.slug role_viewport_id=student_role.viewport_id pk=student_role.person.pk %}">
                cancel edit
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{# ########################################### #}

{% block content_studentinfo %}
<tr>
    <th>
        Section
    </th>
    <td>
        {{ student_role.viewport }}
    </td>
</tr>
{{ block.super }}
{% endblock %}

{# ########################################### #}
